$bg-color: darken(#272822,5%);
$content-bg-color: #272822;

$text-color: lighten(#272822,80%);
$link-color: lighten(#272822,80%);//#e6db74;

$danger-color: #f92672;
$success-color: #66d9ef;
$active-color: #a6e22e;
$hidden-color: lighten(#272822,60%);

$reblog-color: #66d9ef;
$fav-color: yellow;

$side_width: 240px;
$main_width: 300px;